champion.center-block{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.cinemagraph{
	width:100%;

}

/* Empty. Add your own CSS if you like */
.headerImg{
	width:100%;
	/*margin-left:5%;*/
	/*position: absolute;*/
	/*z-index:9000;*/
	height:4em;
	/*margin-top: 1%;*/
	/*padding:0%;*/
}
.bar-light{
	height:10%;
	position:absolute;
}
#ham{
width: 100%;
padding:0%;
margin-right: 0%;
height:4em;
position: absolute;
z-index:9000;


}
#closeImg{
width: 20%;
height: 4em;
padding:0%;
position: absolute;
z-index:9000;
}
#staff{
	display: none;
	position:fixed;
	top:5em;
}
#navbar{
	position:fixed;
	top:0;
	width:100%;
	background-color: #fff;
	z-index: 8000;
	height:0;
}
table{
	height: ;
	width: 100%;
	padding: 0%;
	border-collapse: collapse;
	line-height: 0;
	padding:0%;
}
tr{
	line-height: 0;
	width: 100%;
	height:50%;

}
h1,h3,h5{
	text-align:center;
}

.button-clear{
	width: 33.3%;
}

.landing-page{
	height:auto;
}
.img-responsive{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:100%;

}
#info {
  font-size: 60px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
}

#tables{
  font-size: 16px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}
#numbers{
 font-size: 40px;
  font-family: "Lemon/Milk";
  color: rgb(3, 79, 255);
  line-height: 1.2;
  text-align: left;
  padding:5%;
}
#prices{
  font-size: 22px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  padding:0%;

  z-index: 14;
}
#days {
  font-size: 12px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  padding:5%;
}

#games {
  font-size: 14px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  padding:0%;
 }

#hourPrice{
  font-size: 12px;
  font-family: "Lemon/Milk";
  color: rgb(3, 81, 255);
  line-height: 1.2;
  text-align: left;
  padding:0%;

}




}
#two {
  font-size: 40px;
  font-family: "Lemon/Milk";
  color: rgb(3, 79, 255);
  line-height: 1.2;
  text-align: center;
  padding:5%;

}
#How_ {
 font-size: 45;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding: 0%

  }


#reserve {
  font-size:60px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding:5%;

}

.Pool_tables {
  font-size: 30px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  padding:7%;


  /*z-index: 41;*/
}
#minimum {
  font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
}


/* Landing Page CSS */
.landing-Img-Top{
	height:15em;
	width: 100%;
	padding: 0%;
	border-collapse: collapse;
	/*float: left;*/

}
.landing-Img-Middle{
	height: 50%;
	width: 100%;
	padding:0%;
	border-collapse: collapse;

}
.landing-Img-Bottom{
	height: 25%;
	width: 100%;
	padding: 0%;

}
.info-page{
	padding: 0%;
	width: 100%;
	height:50%;
}
.info-page-map{
	width: 100%;
	height:20em;
	padding: 0%;
	margin-top: 0%;

}
#map{
	width: 80%;
	height: 8em;
	padding: 0%;
	margin-top:30%;
	margin-bottom:20%;
}
.info-page-det{
	width:100%;
	height:100%;
	padding:0%;
	position: center;
	font-family: 'Lemon milk';
}
#social-icon-bar{
	width: 40%;
	height:3em;
	padding:0%;
	border-collapse: collapse;
}
#social-bar{
	margin-top:10%;
	margin-bottom:20%;
	height:40em;
}
.poolImg{
	width: 100%;
	height:11em;
	padding:0%;
	margin-top: 0%;
}
#shogunTxt{
  font-size: 26px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

  #shogunHours{
  font-size: 30px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}
#shogunFood{
  font-size:60px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  }
#shogunLoc{
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(1, 0, 0);
  line-height: 1.2;
  text-align: left;
  }


.byobImg{
	width:100%;
	height:50%;
	padding: 0%;
}
.menu-page{
	text-align: center;
	width: 100%;
}

/* Reserve CSS */

.shogunLogo{
	height:10em;
	width:100%;
	padding: 0%;
}
.bottleLogo{
	margin:auto;
	width:40%;
	height:20em;
	padding: 0%;
	z-index: 7000;
}
.reserveImg1{
	padding: 0%;
	width:100%;
	height:10em;
	margin-top:80%;
	z-index:8000;
}
.reserveImg2{
	padding: 0%;
	width:100%;
	height:50%;
	z-index: 9000;
}



/* Form CSS */
.formLocation{
	/*height:30em;*/
	width:100%;
}
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

/* Events CSS */
.eventsImg{
	padding: 0%;
	width:100%;
	height:8em;
	margin-top: 10%;
}
.eventsPoster{
	padding:0%;
	width:100%;
	height:30em;
}
#events-txt{

  font-size: 80px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;


}

.champion_row{
	padding-top:2%;
}

#champions{
	font-weight:bolder;
	font-size: 40px;
	line-height:1;
	text-align: center-block;
	margin:-50 auto 30 auto;
	padding:5%;
}

}
#winners{
  font-size: 24px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

}
#trophy{
	margin:0;
	padding:0;
	position:relative;
	top:50;
	left:-70;
}
img.champ_pic{
	margin: 5%;
	border-radius: 50%;
	width: 100%;
}
.champ_name{
 padding-top:50px;
 font-weight: bold;
 text-align: center-block;
}

/* Equipment CSS */

.equipment-page{
	width: 100%;
}
.aramith{
	width:80%;
	padding:0%;
	float:center;
	border-radius:100%;
}
.brunswick{
	width:80%;
	padding:0%;
	border-radius:100%;
	vertical-align: middle;
	float:center;

}
.dufferin{
	width: 80%;
	padding:0%;
	border-radius:0%;
	float:center;
}
.equipmentImg{
	width:100%;
	padding:0%;
	margin-top:10%;
}
.eightBall{
	width:100%;
	padding:0%;
}

/* Staff CSS */
.staff-page{
	padding:0%;
	width:100%;

}
.staffImg{
	width:100%;
	padding:0%;
	margin-top:10%;
}
.managerImg{
	width:100%;
	padding:0%;
	float:center;
	vertical-align:center;
}
.studManImg{
	width:100%;
	padding:0%;
}
.teamImg{
	width:100%;
	padding:0%;
	margin-top:5%;
	margin-bottom: 5%;
}
#aboutTxt {
  font-size: 60px;
  font-family: "Lemon/Milk";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding:5%;

}

.footer{
	width: 100%;
	height: 30em;

	background-color: #034fff;
}
#footerHours {
  font-size: 60px;
  font-family: "Lemon/Milk";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-left:20%;
}
#footerDays {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
}
