/* Empty. Add your own CSS if you like */
.headerImg{
	width: 70%;
	height: 70%;
	position: fixed;
}
.bar-light{
	height:10%;

}
table{
	height: ;
	width: 100%;
	padding: 0%;
	border-collapse: collapse;
	line-height: 0;
}
tr{
	line-height: 0;
	width: 100%;
	height:50%;
}

.button-clear{
	width: 33.3%;
}
.landingPage{
	height: 100%;
	width:100%;
	padding: 0%;
}
.landing-Img-Top{
	height: 20%;
	width: 100%;
	padding: 0%;
	border-collapse: collapse;
	float: left;
}
.landing-Img-Middle{
	height: 50%;
	width: 100%;
	padding:0%;
	border-collapse: collapse;
	float: left;
}
.landing-Img-Bottom{
	height: 25%;
	width: 100%;
	padding: 0%;
	float: left;
}
.info-page{
	padding: 0%;
	width: 100%;
	height:50%;
}
.info-page-map{
	width: 100%;
	height:50%;
	padding: 0%;

}
.map{
	width: 100%;
	height: 100%;
	padding: 0%;
}
.info-page-det{
	width:100%;
	height:100%;
	padding:0%;
	position: center;
}

.poolImg{
	width: 100%;
	height:150px;
	padding:0%;
}
.byobImg{
	width:100%;
	height:50%;
	padding: 0%;
}
.menu-page{
	text-align: center;
}
